 /* styles.css */
/* .grid {
  display: grid;
  grid-template-columns: 320px 200px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
}
 
.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}*/

h1 {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'Press Start 2P', cursive;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.tetris-row {
  display: flex;
}

.tetris-board {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}

.tetris-cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grey;
}

.tetris-cell-0 {
  background-color: black;
}

.tetris-cell-1 {
  --blue: #00e;
  --darkblue: #00b;
  --lightblue: #11f;
  --borderwidth: 6px;
  background-color: var(--blue);
  border-bottom: var(--borderwidth) solid var(--darkblue);
  border-right: var(--borderwidth) solid var(--darkblue);
  border-top: var(--borderwidth) solid var(--lightblue);
  border-left: var(--borderwidth) solid var(--lightblue);
}

.tetris-cell-2 {
  background-color: green;
}

.tetris-cell-3 {
  background-color: red;
}

.tetris-score-label {
  font-size: medium;
  font-family: 'Press Start 2P', cursive;
}

.tetris-parent {
  display: flex;
}

element.style {
  width: 44px;
  left: 0px;
}